:root {
  font-family: "poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --dark: #2d3d5c;
  --light: #f2f2f2;
  --normal: #495057;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App, body{
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow-x: hidden;
}

.light{
  background: linear-gradient(90deg, rgba(252,208,208,1) 0%, rgba(185,209,252,1) 100%);
  color: #2d3d5c;
}
.dark{
  background: linear-gradient(rgba(3, 11, 19,1) 0%, rgba(5,38,65,1) 100%), rgba(3, 11, 19,1) 0%;
}

/* Main body block  */
.App .app-block {
  position: absolute;
  top: 0;
  /* z-index: 10; */
  width: 100vw;
  height: 100vh;
}
.light .app-block {
  background-color: rgba(211, 227, 252, 0.4);
}
.dark .app-block {
  background-color: rgba(19, 19, 19, 0.1);
}

/* Navigation bar  */
.topnav {
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
.topnav .nav-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}
.topnav .nav-logo{
  width: 40px;
}
.topnav .left-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-right: 40px;
}
/* Switch button  */
.topnav .left-nav .changeThem{
  background-color: transparent;
  font-size: 25px;
  outline: none;
  border: 0;
}
.topnav .left-nav .changeThem:hover{
  cursor: pointer;
  opacity: .8;
}
.dark .topnav .left-nav .changeThem{
  color: var(--light);
  margin-top: 8px;
}
.light .topnav .left-nav .changeThem{
  margin-top: 8px;
  color: var(--dark);
}

/* Style the links inside the navigation bar */
.topnav .nav-logo {
  float: left;
  padding: 12px 16px;
}
.topnav .nav-login {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 20px;
}
.light .topnav .nav-login {
  background-color: var(--dark);
  color: white;
}
.dark .topnav .nav-login {
  background: linear-gradient(90deg, rgba(252,208,208,1) 0%, rgba(185,209,252,1) 100%);
  color: var(--dark)
}
.light .topnav a {
  color: var(--dark);
}
.dark .topnav a {
  color: var(--light);
}

/* Weather cards  */
.app-block .main-cards{
  margin-top: 100px;
}
.main-cards .projcard-container{
  padding-bottom: 40px;
}
.app-block .main-cards .projcard-container,
.projcard-container * {
	box-sizing: border-box;
}
.app-block .main-cards .projcard-container {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
.app-block .main-cards .projcard-container .projcard {
	width: 100%;
	height: 250px;
	margin-bottom: 40px;
	border-radius: 10px;
	font-size: 18px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.dark .app-block .main-cards .projcard-container .projcard {
  background: linear-gradient(90deg, rgba(252,208,208,.8) 0%, rgba(185,209,252,.8) 100%);
}
.light .app-block .main-cards .projcard-container .projcard {
  background-color: var(--dark);
}
.app-block .main-cards .projcard-container .projcard:hover {
	box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
	transform: translate(0px, -3px);
  cursor: pointer;
}
.app-block .main-cards .projcard-container .projcard:nth-child(2n)::before {
	background-image: linear-gradient(-250deg, #424242, transparent 50%);
}
.app-block .main-cards .projcard-container .projcard .projcard-innerbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.app-block .main-cards .projcard-container .inactive {
	opacity: .6;
}
.app-block .main-cards .projcard-container .projcard .projcard-innerbox .projcard-img {
	height: 250px;
	width: 40%;
	transition: transform 0.2s ease; 
  background-image: 
  /* linear-gradient(to bottom, rgba(255, 208, 208, 0.22), rgba(185, 209, 252, 0.53)), */
    url('./assets/images/icon1.png');
  background-position: cover; 
  background-repeat: no-repeat;
  background-size: 90%;
}
.light .app-block .main-cards .projcard-container .projcard .projcard-innerbox .projcard-img {
  background-image: 
  linear-gradient(to bottom, rgba(45, 61, 92, 0.73), rgba(45, 61, 92, 0.73)),
    url('./assets/images/icon1.png');
  background-position: cover;
  background-size: 90%;
}
.app-block .main-cards .projcard-container .projcard .projcard-innerbox .projcard-last {
	/* position: absolute; */
  background-image:
    url('./assets/images/icon1.png');
}
.app-block .main-cards .projcard-container .projcard .projcard-innerbox .projcard-img .main{
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.light .app-block .main-cards .projcard-container .projcard .projcard-innerbox .projcard-img .main .number b{
  font-size: 110px;
  color: white;
}
.app-block .main-cards .projcard-container .projcard .projcard-innerbox .projcard-img .main .number {
  font-size: 30px;
  font-weight: bold;
  color: var(--dark);
}
.light .app-block .main-cards .projcard-container .projcard .projcard-innerbox .projcard-img .main .number {
  font-size: 30px;
  font-weight: bold;
  color: var(--light);
}
.app-block .main-cards .projcard-container .projcard .projcard-innerbox .projcard-img .main .number b{
  font-size: 120px;
  color: var(--dark);
}
.app-block .main-cards .projcard-container .projcard .projcard-innerbox .projcard-img .fter{
  font-size: 12px;
  color: var(--dark);
  text-transform: capitalize;
}
.light .app-block .main-cards .projcard-container .projcard .projcard-innerbox .projcard-img .fter{
  font-size: 12px;
  color: white
}
.app-block .main-cards .projcard-container .projcard:nth-child(2n) .projcard-img {
	left: initial;
	right: 0;
}
.app-block .main-cards .projcard-container .projcard:hover .projcard-img {
	transform: scale(1.05) rotate(1deg);
}
.app-block .main-cards .projcard-container .projcard:hover .projcard-bar {
	width: 70px;
}
.projcard-textbox {
  width: 60%;
  height: 250px;
  padding: 10px 20px 10px 0;
	font-size: 17px;
}
.second-textbox{
  padding: 10px 20px;
}
.projcard:nth-child(2n) .projcard-textbox {
	left: initial;
	right: 430px;
}
.projcard-textbox::after {
	/* display: none; */
	left: initial;
	right: -55px;
}
.projcard:nth-child(2n) .projcard-textbox::after {
	display: block;
}
.projcard-textbox * {
  text-align: left;
}
.projcard-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
	font-size: 28px;
  color: var(--dark);
  font-weight: bold;
}
.projcard-title img{
  width: 50px;
  height: 50px;
}
.light .projcard-title {
	font-size: 28px;
  font-weight: bold;
  color: var(--light)
}
.projcard-subtitle {
  font-size: 13px;
	color: var(--dark);
}
.light .projcard-subtitle {
  font-size: 13px;
	color: var(--light);
}
.projcard-bar {
	left: -2px;
	width: 10%;
	height: 5px;
	margin: 10px 0;
	border-radius: 5px;
	background-color: #424242;
	transition: width 0.2s ease;
}
.projcard-blue .projcard-bar { background-color: #0387b7; }
.projcard-blue::before { background-image: linear-gradient(-70deg, #0387b7, transparent 50%); }

.projcard-blue:nth-child(2n)::before { background-image: linear-gradient(-250deg, #0387b7, transparent 50%); }

.projcard-red .sweden-bar { background-color: #025297; }
.projcard-red::before { background-image: linear-gradient(-70deg, #025297, transparent 50%); }
.projcard-red:nth-child(2n)::before { background-image: linear-gradient(-250deg, #025297, transparent 50%); }

.projcard-description {
	font-size: 15px;
	color: #424242;
	height: 125px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.projcard-description .cond {
  display: flex;
  justify-content: space-between;
}
.projcard-description .cond button{
  background-color: #0088FF;
  color: white;
  border-radius: 4px;
  outline: none;
  padding: 4px 8px;
  font-size: 12px;
  border: 0;
  display: none;
}
.light .projcard-description {
	font-size: 15px;
	color: var(--light);
	height: 125px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.projcard-description .header-desc{
  color: #b2b0b0;
  font-size: 12px;
}
.dark .projcard-description .header-desc{
  color: #767474;
  font-size: 12px;
}
.projcard-description .details-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.projcard-description .details-content .hour-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
}
.projcard-description .details-content .hour-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.projcard-description .details-content .more-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.projcard-description .details-content .hour-details .x-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  padding: 2px 4px 5px 4px;
  gap: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.projcard-description .details-content .hour-details .x-card:hover{
  background-color: #0088FF;
}
.dark .projcard-description .details-content .hour-details .x-card:hover{
  background-color: #0088FF;
  color: white;
}
.projcard-description .details-content .hour-details .x-card .x-temp {
  font-size: 15px;
  font-weight: bold;
}
.projcard-description .details-content .more-details .x-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  padding: 2px 4px 5px 4px;
  gap: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dark .projcard-description .details-content .more-details .x-card:hover{
  background-color: #0088FF;
  color: white;
}
.projcard-description .details-content .more-details .x-card small{
  text-align: center;
}
.light .projcard-description .details-content .more-details .x-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  padding: 2px 4px 5px 4px;
  gap: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.light .dark .projcard-description .details-content .more-details .x-card:hover{
  background-color: #0088FF;
}

/* Responsive Design for all devices  */
/* Mobile phone  */
@media (min-width: 250px) and (max-width: 768px) {
  .App .mainImg {
    height: 1250px;
  }
  .header-location{
    margin-top: 90px;
    font-size: 12px;
  }
  .light .topnav {
    background: linear-gradient(90deg, rgba(252,208,208,1) 0%, rgba(185,209,252,1) 100%);
  }
  .dark .topnav {
    background: linear-gradient(rgba(3, 11, 19,1) 0%, rgba(5,38,65,1) 100%), rgba(3, 11, 19,1) 0%;
  }
  .topnav .nav-content{
    padding: 0;
  }
  .topnav .left-nav .changeThem{
    font-size: 18px;
  }
  .topnav .nav-login {
    font-size: 12px;
  }
  .app-block .main-cards{
    margin-top: 10px;
    padding-bottom: 20px;
  }
  .app-block .main-cards .projcard-container {
    width: 85%;
    margin-left: 5.6%;
  }
  .app-block .main-cards .projcard-container .projcard {
    height: auto;
  }
  .app-block .main-cards .projcard-container .projcard .projcard-innerbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .app-block .main-cards .projcard-container .projcard .cond-box {
    padding-bottom: 40px;
  }
  .app-block .main-cards .projcard-container .projcard .projcard-innerbox .projcard-img {
    width: 100%;
    background-size: 100%;
  }
  .projcard-textbox{
    width: 100%;
    padding: 10px 20px;;
  }
  .projcard-title {
    font-size: 20px;
  }
  .projcard-title img{
    width: 40px;
    height: 40px;
  }
  .projcard-description .cond button{
    display: block;
  }
  .projcard-description .details-content .more-details{
    display: none;
  }
  .projcard-description .details-content .hour-details{
    overflow-y: auto;
  }
  .projcard-description .details-content .hour-details .x-card {
    width: 50px;
  }
  .app-block .main-cards .projcard-container .projcard .projcard-innerbox .projcard-img .main .number b{
    font-size: 90px!important;
  }
}

/* Table device  */
@media (min-width: 769px) and (max-width: 1024px) {
  .App .mainImg {
    height: 1250px;
  }
  .header-location{
    margin-top: 90px;
    font-size: 12px;
  }
  .light .topnav {
    background: linear-gradient(90deg, rgba(252,208,208,1) 0%, rgba(185,209,252,1) 100%);
  }
  .dark .topnav {
    background: linear-gradient(rgba(3, 11, 19,1) 0%, rgba(5,38,65,1) 100%), rgba(3, 11, 19,1) 0%;
  }
  .topnav .nav-content{
    padding: 0;
  }
  .topnav .left-nav .changeThem{
    font-size: 18px;
  }
  .topnav .nav-login {
    font-size: 12px;
  }
  .app-block .main-cards{
    margin-top: 10px;
    padding-bottom: 20px;
  }
  .app-block .main-cards .projcard-container {
    width: 90%;
    margin-left: 4%;
  }
  .app-block .main-cards .projcard-container .projcard {
    height: auto;
  }
  .app-block .main-cards .projcard-container .projcard .projcard-innerbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .app-block .main-cards .projcard-container .projcard .cond-box {
    padding-bottom: 40px;
  }
  .app-block .main-cards .projcard-container .projcard .projcard-innerbox .projcard-img {
    width: 100%;
    background-size: 100%;
  }
  .projcard-textbox{
    width: 100%;
    padding: 10px 20px;;
  }
  .projcard-title {
    font-size: 20px;
  }
  .projcard-title img{
    width: 40px;
    height: 40px;
  }
  .projcard-description .cond button{
    display: none;
  }
  .projcard-description .details-content .more-details{
    display: auto;
  }
  .projcard-description .details-content .hour-details{
    overflow-y: auto;
  }
  .projcard-description .details-content .hour-details .x-card {
    width: 75px!important;
  }
  .app-block .main-cards .projcard-container .projcard .projcard-innerbox .projcard-img .main .number b{
    font-size: 120px!important;
  }
}

/* Small Computer  */
@media (min-width: 1025px) and (max-width: 1440px) {
  .App .mainImg {
    height: 100%;
  }
  .app-block .main-cards .projcard-container {
    width: 92%;
    margin-left: 3.4%;
  }
  .projcard-description .details-content .hour-details .x-card {
    width: 65px!important;
  }
  .projcard-description .details-content .more-details{
    padding-left: 30px;
  }
  .projcard-description .details-content .hour-details{
    overflow-y: auto;
  }
}


